<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Materias</ion-title>
  </ion-toolbar>
</ion-header>

<app-side-menu></app-side-menu>

<ion-content class="subjects-content" id="main-content">
  <div class="subjects-container">
    <!-- Logo o imagen -->
    <div class="logo-container">
      <img src="assets/icon/logo.png" alt="Logo" class="logo" />
      <h1>Mis Materias</h1>
    </div>

    <!-- Lista de Materias -->
    <div class="subject-list">
      <ion-item
        lines="none"
        class="custom-item"
        *ngFor="let subject of subjects"
      >
        <div class="subject-content">
          <ion-icon name="book-outline" class="subject-icon"></ion-icon>
          <div class="subject-info">
            <h2 class="subject-title">{{ subject.name }}</h2>
            <p class="subject-credits">Créditos: {{ subject.credits }}</p>
            <p class="subject-schedule">
              Horario: {{ subject.schedule.join(', ') }}
            </p>
          </div>
        </div>
      </ion-item>

      <!-- Botón para agregar nueva materia -->
      <ion-button expand="block" class="add-button" (click)="addSubject()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Agregar Materia
      </ion-button>
    </div>
  </div>
</ion-content>
