<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item routerLink="/tasks">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Tareas</ion-label>
      </ion-item>

      <ion-item routerLink="/subjects">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Materias</ion-label>
      </ion-item>

      <ion-item routerLink="/reminders">
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>Recordatorios</ion-label>
      </ion-item>

      <ion-item routerLink="/task-manager">
        <ion-icon name="list-outline" slot="start"></ion-icon>
        <ion-label>Gestor de Tareas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="tasks-content" id="main-content">
  <div class="tasks-container">
    <!-- Logo o imagen -->
    <div class="logo-container">
      <img src="assets/icon/logo.png" alt="Logo" class="logo" />
      <h1>Mis Tareas</h1>
    </div>

    <!-- Lista de Tareas -->
    <div class="task-list">
      <!-- Sección de tareas pendientes -->
      <div class="task-section">
        <h2>Tareas Pendientes</h2>
        <ion-item lines="none" class="custom-item" *ngFor="let task of tasks">
          <div class="task-content" *ngIf="!task.completed">
            <ion-checkbox
              [(ngModel)]="task.completed"
              (ionChange)="task._id && completeTask(task._id)"
              class="task-checkbox"
            >
            </ion-checkbox>
            <div class="task-info">
              <h2 class="task-title">{{ task.description }}</h2>
              <p class="task-subject">
                Materia: {{ getSubjectName(task.subject_id) }}
              </p>
              <p class="task-date">
                Fecha de entrega: {{ task.due_date | date:'medium' }}
              </p>
            </div>
            <ion-button fill="clear" (click)="task._id && deleteTask(task._id)">
              <ion-icon name="trash-outline" color="danger"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </div>

      <!-- Sección de tareas completadas -->
      <div class="task-section completed">
        <h2>Tareas Completadas</h2>
        <ion-item lines="none" class="custom-item" *ngFor="let task of tasks">
          <div class="task-content" *ngIf="task.completed">
            <ion-checkbox
              [(ngModel)]="task.completed"
              (ionChange)="task._id && uncompleteTask(task._id)"
              class="task-checkbox"
              checked
            >
            </ion-checkbox>
            <div class="task-info completed">
              <h2 class="task-title">{{ task.description }}</h2>
              <p class="task-subject">
                Materia: {{ getSubjectName(task.subject_id) }}
              </p>
              <p class="task-date">
                {{ task.completed_date ? ('Completada el: ' +
                (task.completed_date | date:'medium')) : ('Fecha de entrega: ' +
                (task.due_date | date:'medium')) }}
              </p>
            </div>
          </div>
        </ion-item>
      </div>

      <!-- Botón para agregar nueva tarea -->
      <ion-button expand="block" class="add-button" (click)="addTask()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Agregar Tarea
      </ion-button>
    </div>
  </div>
</ion-content>
