<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Crear Tarea -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Tarea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Selección de la materia -->
      <ion-item>
        <ion-label>Materia</ion-label>
        <ion-select [(ngModel)]="subjectId" interface="popover" placeholder="Selecciona una materia">
          <ion-select-option *ngFor="let subject of subjects" [value]="subject._id">{{ subject.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <!-- Descripción de la tarea -->
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="taskDescription" auto-grow="true"></ion-textarea>
      </ion-item>

      <!-- Fecha de entrega con selector de fecha y hora -->
      <ion-item>
        <ion-label>Fecha de Entrega</ion-label>
        <ion-datetime [(ngModel)]="dueDate" display-format="YYYY-MM-DD HH:mm:ss" picker-format="YYYY-MM-DD HH:mm"></ion-datetime>
      </ion-item>

      <!-- Botón para crear la tarea -->
      <ion-button expand="full" (click)="crearNuevaTarea()">Crear Tarea</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Completar Tarea -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Completar Tarea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID de la tarea</ion-label>
        <ion-input [(ngModel)]="taskId" type="number"></ion-input>
      </ion-item>

      <ion-button expand="full" color="success" (click)="completarTarea()">Completar Tarea</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
