<ion-app>
  <!-- Componente del menú lateral -->
  <app-side-menu></app-side-menu>

  <div class="ion-page" id="main-content">
    <!-- Componente del header -->
    <app-header [pageTitle]="pageTitle" (menuToggle)="openMenu()"></app-header>

    <!-- Estructura de tabs de Ionic con clase para ajustar el margen superior -->
    <ion-tabs (ionTabsDidChange)="tabChanged($event)" class="app-tabs">
      <ion-router-outlet></ion-router-outlet>

      <!-- Componente de la barra de tabs -->
      <app-tab-bar
        [activeTab]="activeTab"
        (tabChange)="tabChanged($event)"
      ></app-tab-bar>
    </ion-tabs>
  </div>
</ion-app>
