<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <div class="user-icon-container">
      <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
    </div>

    <ion-list>
      <ion-item>
        <ion-label>Nombre de usuario</ion-label>
        <ion-text>{{ userProfile.username }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-text>{{ userProfile.email }}</ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
