@import "src/app/shared/styles/common";
.login-content {
  @extend .page-content;

  .login-container {
    @include flex-center;
    height: 100%;
    padding: 2rem;
  }

  .logo-container {
    margin-top: 2rem;
    text-align: center;

    .logo {
      width: 180px;
      height: 180px;
      margin-bottom: 1rem;
    }

    h1 {
      color: var(--ion-color-primary);
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  }

  .form-container {
    width: 100%;
    max-width: 400px;
  }

  .custom-input {
    --background: transparent;
    --border-color: transparent;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --highlight-color: var(--ion-color-primary);
    

    ion-label {
      color: var(--ion-color-primary);
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    ion-input {
      --color: var(--app-text-color);
      --padding-start: 1rem;
      --placeholder-color: var(--app-color-medium);
      --placeholder-opacity: 0.7;
    }
  }

  .login-button {
    @extend .custom-button;
    margin-top: 2rem;
    font-size: 1.1rem;
  }

  .register-link {
    margin-top: 2rem;
    text-align: center;

    p {
      color: var(--ion-color-primary);
      margin-bottom: 0.5rem;
    }

    .register-button {
      --color: var(--ion-color-primary);
      font-weight: 500;
      text-transform: none;
      font-size: 1rem;
    }
  }
}

// Estilos para los items de ion-input cuando están enfocados
ion-item.item-has-focus {
  --highlight-background: var(--ion-color-primary-tint);
}

// Animación suave para los botones
ion-button {
  transition: all 0.3s ease;

  &:active {
    transform: scale(0.98);
  }
}
