<ion-menu
  side="start"
  menuId="main-menu"
  contentId="main-content"
  class="glassmorphism-menu"
>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="menu-header-bg"></div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="menu-header">
      <div class="user-info">
        <div class="avatar-container">
          <div class="avatar">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="status-dot"></div>
        </div>
        <div class="user-details">
          <h2>{{ userProfile.username || "Usuario" }}</h2>
          <p>{{ userProfile.email || "correo@ejemplo.com" }}</p>
        </div>
      </div>
    </div>

    <div class="menu-sections">
      <div class="section-title">Principal</div>
      <ion-list lines="none" class="menu-items">
        <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems">
          <ion-item
            [routerLink]="item.path"
            routerDirection="root"
            routerLinkActive="active-item"
            class="menu-item"
          >
            <div class="item-content">
              <div class="icon-container">
                <ion-icon [name]="item.icon"></ion-icon>
              </div>
              <ion-label>{{ item.label }}</ion-label>
            </div>
            <div class="hover-indicator"></div>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>

    <div class="menu-footer">
      <ion-item button class="logout-button" lines="none" (click)="logout()">
        <div class="item-content">
          <div class="icon-container">
            <ion-icon name="log-out-outline"></ion-icon>
          </div>
          <ion-label>Cerrar Sesión</ion-label>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>
