<ion-header class="ion-no-border modern-header">
  <ion-toolbar>
    <div class="toolbar-content">
      <div class="left-section">
        <ion-menu-button class="modern-menu-button">
          <div class="menu-button-content">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </ion-menu-button>
        <h1 class="page-title" *ngIf="pageTitle">{{ pageTitle }}</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
